<div class="api-list-item-<%= data.api.type.toLowerCase() %>">
	<span class="type"><%= data.api.type %></span>
	<a href="#api/<%= data.api._id %>"><span class="url"><%= data.api.url %></span></a>
</div>