<ul class="category-list grid">
	<li class="category-list-item add-item add-category"><i class="fa fa-plus"></i> Add a new Category</li>
</ul>
<div class="add-category-dialog">
	<input type="text" class="new-category-name" placeholder="enter category name.." />
	<input type="text" class="new-category-url" placeholder="enter base url.." />
	<input type="text" class="new-category-description" placeholder="enter description.." />
	<p class="add-category-feedback" style="display:none"></p>
</div>
