<div style="width: 910px; margin:auto;">
	<div class="create-project-sidebar-container">
	</div>
	<div class="form-container">
		<h1 class="heading">Create a New Project</h1>
		<form class="form">
			<div>
				<label for="project_name">Project Name</label>
				<input type="text" name="project_name" />
			</div>
			
			<div>
				<label for="project_description">Project Description</label>
				<textarea name="project_description" rows="6"></textarea>
			</div>
			
			<div>
				<label for="project_github">Github URL (If any)</label>
				<input type="text" name="project_github" />
			</div>
			
			<div>
				<label for="project_website">Website (If any)</label>
				<input type="text" name="project_website" />
			</div>
		</form>
	</div>
</div>