<div>
	<div class="project-name-container">
		<span class="active-project">Fork-Read</span> <i class="fa fa-caret-down fa-2x" style="position:relative; top:2px;"></i>
	</div>
	<div class="header-setting">
		<a class="btn create-project" href="#createProject"><i class="fa fa-plus"></i> <span class="create-project-text">New Project</span></a>
		<i class="fa fa-cog fa-2x setting-icon"></i>
	</div>
	<div class="clear"></div>
</div>