<a href="#category/<%= data.category._id %>/api/add" class="btn float-right edit-category-button"><i class="fa fa-plus"></i> Add API</a>
<h1 class="title"><%= data.category.name %></h1>
<div class="api-list-container"></div>