<a href="#project/<%= data.project._id %>/edit" class="btn float-right edit-project-button"><i class="fa fa-pencil"></i> Edit Project</a>
<h1 class="project-name"><%= data.project.name %></h1>
<div class="margin-10">
	<i class="fa fa-github"></i> 
	<% if(data.project.github_url) { %>
		<a class="project-github-url" href="<%= data.project.github_url %>" target="_blank"><%= data.project.github_url %></a>
	<% } else { %>
		<span class="not-available">Not Available</span>
	<% } %>
</div>
<div class="margin-10">
	<i class="fa fa-globe"></i>
	<% if(data.project.website) { %>
		<span class="project-website"><%= data.project.website %></span>
	<% } else { %>
		<span class="not-available">Not Available</span>
	<% } %>
</div>
<div class="margin-10 border-bottom">
	<p class="project-desription"><%= data.project.description %></p>
</div>
<% if(data.project.setup_instructions) { %>
<div class="margin-10 border-bottom">
	<h2 class="font-18">Setup Instructions</h2>
	<div id="editor" class="editor ql-container ql-snow">
		<%= data.project.setup_instructions %>
	</div>
</div>
<% } %>
<% if(data.project.api_categories.length) { %>
<div class="margin-10 border-bottom">
	<h2 class="font-18">API Categories</h2>
	<ul class="category-list">
		<% _.each(data.project.api_categories,function(category, index){ %>
			<a href="#project/<%= data.project._id %>/category/<%= category %>" class="category-list-item tile-<%= (index % 4) + 1 %>"><li><i class="fa fa-angle-double-right"></i> <%= category %></li></a>
		<% }); %>
	</ul>
	<div class="clear"></div>
</div>
<% } %>
<div class="floating-add-icon add-category" title="Add Category">
	<i class="fa fa-plus fa-2x"></i>
</div>
<div class="add-category-dialog">
	<input type="text" class="new-category-input" placeholder="enter category name.." />
	<p class="add-category-feedback" style="display:none"></p>
</div>