<a href="#project/<%= data.project._id %>/edit" class="btn float-right edit-project-button"><i class="fa fa-pencil"></i> Edit Project</a>
<h1 class="project-name"><%= data.project.name %></h1>
<div class="margin-10">
	<i class="fa fa-github"></i> 
	<% if(data.project.github_url) { %>
		<a class="project-github-url" href="<%= data.project.github_url %>" target="_blank"><%= data.project.github_url %></a>
	<% } else { %>
		<span class="not-available">Not Available</span>
	<% } %>
</div>
<div class="margin-10">
	<i class="fa fa-globe"></i>
	<% if(data.project.website) { %>
		<span class="project-website"><%= data.project.website %></span>
	<% } else { %>
		<span class="not-available">Not Available</span>
	<% } %>
</div>
<div class="margin-10">
	<p class="project-desription"><%= data.project.description %></p>
</div>