body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F8F8F8;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

li{
    list-style: none;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear {
    clear: both;
}

.heading {
    text-align: center;
    color: #111111;
}

.google-signin {
    display: block;
    margin: auto;
    width: 300px;
}

.form-container {
    display: inline-block;
    width: 450px;
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form label {
    display: inline-block;
    color: #111111;
    vertical-align: middle;
    width: 200px;
    margin: 10px;
}

input[type='text'] {
    width: 274px;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 1px solid #C9C9C9;
    outline: none;
    border-radius: 3px;
    margin: 10px;
}

input[type='text']:focus{
    border-color: #2196F3;
    outline: none
}

textarea {
    width: 274px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    margin: 10px;
}

.form input[type='button'], .form input[type='submit'] {
    width: 297px;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 15px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #3F51B5;
    transition: background-color 0.5s ease;
}

.form input[type='button']:hover, .form input[type='submit']:hover{
    cursor: pointer;
    background-color: #3949AB;
}

.btn {
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 3px;
}

.btn-blue{
    background-color: #3F51B5;
    color:#FFFFFF;
}

.btn-grey{
    background-color: #797979;
    color: #F8F8F8;
}

.btn:hover{
    cursor: pointer;
}

.btn-blue:hover{
    background-color: #3949AB;
}

.btn-red{
    background-color: #F44336;
    color: #F8F8F8;
}

.btn-red:hover{
    background-color: #E53935;
}

.margin-10{
    margin: 10px;
}

.inline{
    display: inline-block;
}

.success{
    padding: 5px 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.info{
    padding: 5px 10px;
    color: #00529B;
    background-color: #BDE5F8;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.warning{
    padding: 5px 10px;
    color: #9F6000;
    background-color: #FEEFB3;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.error{
    padding: 5px 10px;
    color: #D8000C;
    background-color: #FFBABA;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.border-bottom{
    border-bottom: 1px solid #C9C9C9;
}

.font-18{
    font-size: 18px;
}

.grid{
    color: #F8F8F8;
}

.grid-item{
    color: #F8F8F8;
}

.grid-item:nth-child(1n){
    background-color: #4CAF50;
}

.grid-item:nth-child(1n):hover{
    background-color: #43A047;
}

.grid-item:nth-child(2n){
    background-color: #FF9800;
}

.grid-item:nth-child(2n):hover{
    background-color: #FB8C00;
}

.grid-item:nth-child(3n){
    background-color: #2196F3;
}

.grid-item:nth-child(3n):hover{
    background-color: #1E88E5;
}

.grid-item:nth-child(4n){
    background-color: #FFC107;
}

.grid-item:nth-child(4n):hover{
    background-color: #FFB300;
}

.add-item{
    color: #FFFFFF !important;
    background-color: #2196F3 !important;
}

.add-item:hover{
    background-color: #1E88E5 !important;
}

.inline{
    display: inline-block;
}

.block{
    display: block !important;
}

.width-650{
    width: 650px !important;
}
