body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F8F8F8;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear {
    clear: both;
}

.heading {
    text-align: center;
    color: #111111;
}

.google-signin {
    display: block;
    margin: auto;
    width: 300px;
}

.form-container {
    display: inline-block;
    width: 450px;
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form {
    margin: auto;
    width: 300px;
    padding: 20px;
    padding-left: 0px;
}

.form label {
    display: inline-block;
    color: #111111;
    margin-bottom: 5px;
}

input[type='text'] {
    width: 274px;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 1px solid #C9C9C9;
    outline: none
}

input[type='text']:focus{
    border-color: #3F51B5;
    outline: none
}

textarea {
    width: 274px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 1px solid #C9C9C9;
}

.form input[type='button'] {
    width: 297px;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 15px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #3F51B5;
    transition: background-color 0.5s ease;
}

.form input[type='button']:hover{
    cursor: pointer;
    background-color: #3949AB;
}

.btn {
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;
}

.btn-blue{
    background-color: #3F51B5;
    color:#FFFFFF;
}

.btn:hover{
    cursor: pointer;
}

.btn-blue:hover{
    background-color: #3949AB;
}

.margin-10{
    margin: 10px;
}

.inline{
    display: inline-block;
}

.floating-add-icon{
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #00BCD4;
    z-index: 500;
    border-radius: 100%;
    color: #FFFFFF;
    padding: 18px 19px;
    -webkit-box-shadow: 0px 1px 3px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 3px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 3px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-add-icon:hover{
    cursor: pointer;
}

.success{
    padding: 5px 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.info{
    padding: 5px 10px;
    color: #00529B;
    background-color: #BDE5F8;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.warning{
    padding: 5px 10px;
    color: #9F6000;
    background-color: #FEEFB3;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.error{
    padding: 5px 10px;
    color: #D8000C;
    background-color: #FFBABA;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
