.create-project-form{
	margin: auto;
	width:300px;
}

.create-project-sidebar-container {
    display: inline-block;
    width: 450px;
    height: 400px;
    border-right: 1px solid #CCCCCC;
}

.create-project-button:hover{
	background-color: #3949AB;
}
