.home-container{
	margin: auto;
	width: 1000px;
}

.projects-heading{
	font-weight: normal;
	color: #607D8B;
}

.project-lists{
	background-color: #EEEEEE;
}

.project-list-item{
	text-decoration: none;
	display: inline-block;
	margin: 22px;
	width: 200px;
	height: 200px;
	padding: 5px;
	padding-top: 65px;
	padding-bottom: 60px;
	background-color: red;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 6px;
}