.project-view{
	padding-bottom: 20px;
}

.not-available{
	font-size: 13px;
}

.project-container{
	margin:auto;
	margin-top: 50px;
	width: 1000px;
}

.project-name{
	color: #607D8B;
	font-weight: normal;
	font-size: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #C9C9C9;
}

.project-github-url{
	margin-left: 5px;
	font-size: 13px;
}

.project-website{
	margin-left: 5px;
	font-size: 13px;
	color: #1E1E1E;
}

.edit-project-button{
	color: #1E1E1E;
	position: relative;
	bottom: 3px;
}

.edit-project-button:hover{
	 color: #00B7FF;
}

.project-desription{
	text-align: justify;
	line-height: 150%;
	letter-spacing: 120%;
}

.project-setup{
	background-color: #FFFFFF;
	padding: 20px;
}

.new-category-input{
	margin: auto;
	margin-top: 15px;
	display: block;
}

.category-list{
	list-style: none;
}

.category-list-item{
	float: left;
	margin: 10px;
	padding: 6px 12px;
	color: #F8F8F8;
	background-color: #CCCCCC;
	border-radius: 3px;
	margin-right: 10px;
}

.category-list-item a{
	color: #F8F8F8;
}

.category-list-item:hover{
	cursor: pointer;
}

.add-category-dialog input{
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}